<!DOCTYPE html>
<html>
<head>
  <title>Track rate</title>
  <%= stylesheet_link_tag    "track_rate/application", media: "all" %>
  <%= javascript_include_tag "track_rate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
